<%- include('partials/header') %>

	<div class="jumbotron text-center">
		<div class="container">
			<i class="fas fa-key fa-6x"></i>
			<p class="display-4">username</p>
			<p>
				<%= user %>
			</p>
			<h1 class="display-3">You've Discovered My Secret!</h1>
			<% for( let index=0; index < allPost.length; index++ ) { %>
				<p class="secret-text"><%= allPost[index].secret %> </p>
			<% } %>
			<hr>
			<div class="secretsLogoutsButtons">
				<form action="/secrets" method="post">
					<button type="submit" class="btn btn-light btn-lg">Log Out</button>
				</form>
				<a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
			</div>
		</div>
	</div>
	<%- include('partials/footer') %>