
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

form span{
  color: red;
}

.socialLogins{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.secretsLogoutsButtons{
  display: flex;
  justify-content: center;

}
